<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMM9O Blog | {{ item.title if item.title else title }}</title>
        <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Islam Muhammad" />
    <meta itemprop="image" content="/assets/img/my-avatar.jpg" />
    <meta itemprop="description" content="Islam Muhammad Portfolio" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Islam Muhammad" />
    <meta name="twitter:image" content="/assets/img/my-avatar.jpg" />
    <meta name="twitter:description" content="Islam Muhammad Portfolio" />

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Islam Muhammad" />
    <meta property="og:image" content="/assets/img/my-avatar.jpg" />
    <meta property="og:image:secure_url" content="/assets/img/my-avatar.jpg" />
    <meta property="og:description" content="Islam Muhammad Portfolio" />
    <meta property="og:url" content="https://imm9o.github.io/" />

    <!-- StyleSheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" >
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
      {% include "./styles.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>{{ css | cssmin | safe }}</style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.0.0/quicklink.umd.js"></script>
    <script>
      window.addEventListener('load', () => {
        quicklink.listen();
      });
    </script>

  </head>
  <body>
    <header>
      <div class="m9-container">
			  <span>Islam Muhammad</span>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
		  </div>
    </header>
        {{ content | safe }}
  </body>
</html>
