<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMM9O Blog | {{ title }}</title>
        <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Islam Muhammad" />
    <meta itemprop="image" content="./img/my-avatar.jpg" />
    <meta itemprop="description" content="Islam Muhammad Portfolio" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Islam Muhammad" />
    <meta name="twitter:image" content="./img/my-avatar.jpg" />
    <meta name="twitter:description" content="Islam Muhammad Portfolio" />

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Islam Muhammad" />
    <meta property="og:image" content="./img/my-avatar.jpg" />
    <meta property="og:image:secure_url" content="./img/my-avatar.jpg" />
    <meta property="og:description" content="Islam Muhammad Portfolio" />
    <meta property="og:url" content="https://imm9o.github.io/" />

    <!-- StyleSheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">

    <style>{% include "./styles.css" %}</style>
  </head>
  <body>
    <header>
      <div class="container">
			  <span>Islam Muhammad</span>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/">About</a></li>
          </ul>
        </nav>
		  </div>
    </header>
    <div class="container">
        {{ content | safe }}
    </div>
    <footer>

    </footer>
  </body>
</html>
