* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #444;
  font-size: 16px;
  line-height: 1.6;
  border-top: solid 6px #02066F;
}


a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  position: relative;
}

body > .m9-container a:after {
  border-radius: 1em;
  border-top: .1em solid #2F56B0;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

body > .m9-container a:hover:after {
  right: 0;
}


header {
  font-size: 2em;
  color: #888;
  border-bottom: solid 1px #eee;
}
/**************************************/
.m9-container {
  margin: 0 auto;
  padding: 2rem 0;
}
.m9-container.post-content img {
  width: 100%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  .m9-container {
    width: 350px;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .m9-container {
    width: 500px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .m9-container {
    width: 700px;
  } 
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .m9-container {
      width: 900px;
    }    
}
/*************************************************************/
hr {
  border-style: none;
  border-bottom: solid 1px #eee;
  margin-top: 2em;
  margin-bottom: 3em;
}


p.meta {
  color: #444;
  font-size: 0.8em;
}

ul.listing {
  list-style: none;
  list-style-position: outside;
  padding-top: 1em;
  padding-left: 0;
}
ul.listing li {
  margin-bottom: 3em;
}
ul.listing h3 {
  padding-top: 0;
  margin-top: 0;
}
ul.listing p.meta {
  padding-bottom: 0.5em;
  margin-bottom: 0;
}

/** Header and navbar style */
header > .m9-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

header > .m9-container > nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0 -3px;
  font-size: 0.5em;
}

nav > ul >  li {
  margin: 0 3px;
  width: 70px;
  text-align: center;
  padding: 5px 0;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 250ms;
  font-weight: 500;
}

nav > ul >  li > a {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
}

nav > ul > li:hover {
  background: #40407a;
  color: #fff;
}
nav > ul > li:hover > a {
  color: #fff;
}

.banner {
  text-align: center;
  background-color: #e3eaed;
}
.banner h1 {
  font-weight: 900;
  font-family: sans-serif;
}

/** Dev.to */

.ltag__link {
  display: none;
}

.my-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  border: 5px solid #02066F;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


/** Highted theme **/
/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #2E3440;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #636f88;
 }
 
 .token.punctuation {
   color: #81A1C1;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #81A1C1;
 }
 
 .token.number {
   color: #B48EAD;
 }
 
 .token.boolean {
   color: #81A1C1;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #A3BE8C;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #81A1C1;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #88C0D0;
 }
 
 .token.keyword {
   color: #81A1C1;
 }
 
 .token.regex,
 .token.important {
   color: #EBCB8B;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }